/*header*/
.header {
	background-color: #4b73b5;
	color: #fff;
	box-sizing: border-box;
	min-height: 76px;
	display: flex;
	justify-content: center;
}
.header_content {
	width: 1200px;
	display: flex;
	justify-content: space-between;
}
.header__logo-img {
	width: 120px;
	height: 36px;
	margin: 21px;

}
.header__contacts {
	display: flex;
	font-weight: 700;
	margin: 21px;
	color: #fff;
	flex-flow: column;
}
.header__contacts-phone {
	font-size: 21px;
	text-align: left;
	color: #ffffff;
	text-decoration: none;
}
.header__contacts-grafic {
	font-size: 14px;
	opacity: 0.7;
	font-weight: bold;
}